html { font-family: Radio Canada Big; }
body { background-color: antiquewhite; margin: 0; }

header {
    position: fixed;
    width: 100%;
    background-color: rgb(105, 196, 249);
    box-shadow: 0px 0px 10px rgb(105, 196, 249);
    padding: 15px;
    
}
header a{
    display: inline-flex;
    border-bottom: 1px solid rgb(105, 196, 249);
    color: black;
    margin: 0px 7px;
    text-decoration: none;
    transition: 0.4s;
}
header a:hover{
    border-bottom: 1px solid black;
}
#ham { display: none; }
#menu { display: inline-block; }



.nagy {
    display: flex;
    width: 95%;
    padding: 70px 10px;
    justify-content: space-between;
}

.kicsik{
    width: 31%;
    background-color: white;
    padding: 10px;
    border: 1px solid lightgrey;
}
.kicsik img{
   max-height: 300px;
    width: 100%;
    object-fit: cover;
}
.hir{
   margin-bottom: 10px;
    height: 400px;
}
.tesztRow{
    display: flex;
}
.tesztRow img{
    object-fit: contain;
    width: 50%;
}
span { font-size: 15px; }
h2 {
    margin: 5px;
}

@media (max-width: 700px) {
    .nagy {
        width: 95%;
        flex-wrap: wrap;
    }
    .kicsik { 
        margin: auto;
    }
    .hir { height: 100%; }
    header #ham { display: inline-block;}
    header #menu { display: none;  }
    header #menu.show { display: block; position: absolute;}
    header #menu.show a { 
        display: block; 
        padding: 5px 30px;
        background-color: rgb(105, 196, 249); 
    }
    header #menu.show a:hover { 
        border: 1px solid black
    }
   
}
@media (min-width: 1400px) {
    .nagy {  width: 95%; }
    .kicsik { margin: 10px; }
}
