html { font-family: Radio Canada Big; }
body { background-color: rgb(20, 148, 88); margin: 0; }

/*              HEADER                                   */
header {
    position: fixed;
    width: 100%;
    background-color: rgb(10, 72, 43);
    box-shadow: 0px 0px 10px rgb(10, 72, 43);
    padding: 15px;
    
}
header a{
    display: inline-flex;
    border: 1px solid rgb(10, 72, 43);
    color: white;
    margin: 0px 7px;
    text-decoration: none;
    transition: 0.4s;
}
header a:hover{
    border-bottom: 1px solid black;
    letter-spacing: 0.5px;
}
#ham { display: none; }
#menu { display: inline-block; }


/*            TARTALOM                               */
.nagy {
    display: flex;
    width: 95%;
    padding: 70px 10px;
    justify-content: space-between;
}
/*              RÉSZEK                                 */
h2 { margin: 5px; letter-spacing: 1px; }
.kicsik{
    width: 31%;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 1px solid lightgrey;
    box-shadow: 0px 0px 10px rgb(200, 200, 200);
}
.kicsik img{
   max-height: 300px;
    width: 100%;
    object-fit: cover;
}
.hir{
   margin-bottom: 10px;
    height: 400px;
}
/*               *KÉPEK*                                */
.row{ display: flex; }
.row img{ object-fit: contain; width: 50%; }
span { font-size: 15px; }

/*             RESZPONZIVITÁS                                 */
@media (max-width: 700px) {
    .nagy {
        width: 95%;
        flex-wrap: wrap;
    }
    .kicsik { 
        margin: auto;
    }
    .hir { height: 100%; }
    header #ham { display: inline-block;}
    header #menu { display: none;  }
    header #menu.show { display: block; position: absolute;}
    header #menu.show a { 
        display: block; 
        padding: 5px 30px;
        background-color: rgb(10, 72, 43);
    }
    header #menu.show a:hover { 
        border: 1px solid black
    }
   
}
@media (min-width: 1400px) {
    .nagy {  width: 95%; }
    .kicsik { margin: 10px; }
}


#versenyId {
    transition: 2s;
}
@keyframes jelol {
    0% { border: 1px solid white }
    50%{ border:1px solid red }
    100% { border: 1px solid white }
}
